@using COMP2007_S2016_Assignment2_Restaurant.Models
@model Foodtype

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Food Type: @Model.Name</h2>

<div class="row">
    @foreach (Fooditem fooditem in Model.Fooditems)
    {
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="@fooditem.FooditemPicUrl" alt="@fooditem.Name">
                <div class="caption">
                    <h3>@Html.ActionLink(fooditem.Name, "Details", new { id = fooditem.FooditemId })</h3>
                    <p>@fooditem.ShortDescription</p>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <a class="btn btn-primary btn-sm" href="/Menu/">TYPES OF FOOD</a>
</div>

    
