@using COMP2007_S2016_Assignment2_Restaurant.Models
@model Fooditem

@{
    ViewBag.Title = "Details";
}

<h2>Food: @Model.Name</h2>
<hr />
<ul>
    <li>Type: @Model.Foodtype.Name </li>
    <li>Price: @Model.Price </li>
    <li>Description: @Model.DetailedDescription</li>
    <li>
        Image:
        <img src="@Model.FooditemPicUrl" alt="@Model.Name" />
    </li>
</ul>

<div>
    <a class="btn btn-primary btn-sm" href="/Menu/Browse?foodtype=@Model.Foodtype.Name">CHOOSE ANOTHER FOOD</a>
</div>
